/* Стили для горизонтального меню */
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
}

.nav-page {
    padding-left: center;
    padding-right: center;
    text-align: center;
}

.project {
    position: relative;
    background: #000000;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    border: 1px solid #e5e5e5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 100px;
    cursor: pointer;
}

.project:hover {
    box-shadow: -5px 5px 15px rgba(255, 0, 0, 0.32);
    transform: translateY(-10px);
}

.bouncy-text {
    transition: transform 0.3s ease;
    padding-left: center;
    padding-right: center;
    text-align: center;
}

.bouncy-text:hover {
  animation: bounce-twice 1s ease;
}