{% extends "base.html" %}

{% block title %}Проекты{% endblock %}

{% block content %}
    <div class="bouncy-text">
        <h1>{{ page }}</h1>
    </div>
    {% for project in projects %}
        <div class="project" data-link="{{ project['link'] }}">
            <h1>{{ project["title"] }}</h1>
            <h1>{{ project["description"] }}</h1>
        </div>
    {% endfor %}
    <form class="nav-center" method="post">
        <button id="next-page" name="action" value="next_page">Следующая страница</button>
    </form>
{% endblock %}